/* source keypos definitions */
#include "../zmk-nodefree-config/keypos_def/keypos_42keys.h"

#define X_LT    &kp TAB
#define X_RT    &kp SQT

#define X_LM    &kp ESC
#define X_RM    &kp MINUS

#define X_LB    &excl_prcnt
#define X_RB    &grave_pipe

#define X_LH    &mo FN 
#define X_RH    &tilde_hash 

/* source the main keymap */
#include "base.keymap"
